.contener{
    background-color: rgb(10, 221, 221);
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}
.box{
    background-color: burlywood;
    font-size: 3em;
    height: 150px;
    width: 150px;
    text-align: center;
}