nav li a{
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 50px;
}
nav li:hover{
    background-color: aqua;
    color: white;
}
main article header h2{
    color: blue;
}
footer{
    text-align: center;
}